@use '../abstract/colors' as *;

/* Works */
.works {
  margin: 0 1rem;

  @media screen and (min-width: 1000px) {
    margin: 0;
  }
}

/* Project Column */
.projectcol {
  display: flex;
  justify-content: center;
  place-items: center;

  @media screen and (min-width: 800px) {
    display: block;
  }
}

/* Project */
.project {
  background-color: $blue-1000;
  padding: 1.25rem;
  border-radius: 1rem;
  width: 100%;
  max-width: 22rem;

  @media screen and (min-width: 400px) {
    max-width: 24rem;
  }

  @media screen and (min-width: 450px) {
    max-width: 26rem;
  }

  @media screen and (min-width: 1000px) {
    max-width: 26rem;
  }
}

.project--light {
  background-color: $white;
}

.project-dark {
  background-color: $blue-1000;
}

/* Project Content */
.project__content {
  position: relative;
  width: 100%;
  height: 230px;
  cursor: pointer;
}

.project__content__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.project__content__links {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  margin: 0.5rem;
  cursor: pointer;

  &:hover {
    transform: scale(1.2);
    transition: all 0.2s ease-in-out;
  }

  &__source {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 9999px;
    display: flex;
    justify-content: center;
    align-items: center;

    & img {
      width: 50%;
      height: 50%;
      object-fit: contain;
    }
  }
}

/* Project Description */
.project__description {
  margin-top: 1.5rem;

  &__title {
    font-weight: bold;
    font-size: 24px;
    color: white;
  }

  &__sub {
    margin-top: 0.5rem;
    font-size: 14px;
  }

  &__tags {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;

    &__el {
      font-size: 16px;
      font-weight: 600;
    }

    &__demo {
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 99999px;
      display: flex;
      justify-content: center;
      align-items: center;

      & img {
        width: 50%;
        height: 50%;
        object-fit: contain;
      }
    }
  }
}

/* Project Display */
.project__display {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

/* Project Section Title */
  
.project__section--title{
  font-weight: 900;
  font-size: 24px;

  /* Media queries */
  @media (min-width: 1024px) {
    font-size: 45px; 
    line-height: 1.225; 
  }

  @media (min-width: 768px) {
    font-size: 38px; 
  }

  @media (min-width: 640px) {
    font-size: 30px; 
  }
}