$white: #EEEEEE;
$white-2: #dccebb;
$black: #0f131a;

$red-400:#FF8787;
$red-500:#FF6B6B;
$red-600:#FA5252;
$red-700:#F03E3E;
$red-800:#E03131;



$green-400:#69DB7C;
$green-500:#51CF66;
$green-600:#40C057;
$green-700:#37B24D;
$green-800:#2F9E44;;

$blue-400:#4DABF7;
$blue-500:#339AF0;
$blue-600:#228BE6;
$blue-700:#1C7ED6;
$blue-800:#1971C2;

$blue-000:#132497;

$blue-900:#021221;
$blue-1000:#02090f;

$orange-400:#FFA94D;
$orange-500:#FF922B;
$orange-600:#FD7E14;
$orange-700:#F76707;
$orange-800:#E8590C;

$dark-000:#C1C2C5;
$dark-100:#A6A7AB;
$dark-200:#909296;
$dark-300:#5C5F66;
$dark-400:#373A40;
$dark-500:#2C2E33;
$dark-600:#25262B;
$dark-700:#1A1B1E;
$dark-800:#141517;
$dark-900:#101113;


// tags 
.pinkTAG{
color: #cc5deb;
}

.purpleTAG{
color:#a53ee58f;
}

.orangeTAG{
color:#de9332;
}

.blueTAG{
color:#388cf2;
}

.yellowTAG{
color:#becd19; 
}

.greenTAG{
color:$green-800; 
}

.greenlightTAG{
color: $green-500;
}


